<div class="row">
  <div class="col">
    <input type="text" (keyup)="buscar(termino.value)" placeholder="Buscar artista" #termino>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 m-5">

  <div class="col" *ngFor="let artista of artistas">
    <div class="card h-100">
      <img [src]="artista.images | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artista.name}}</h5>
        <p class="card-text" *ngFor="let artista of artista.artists"> <span
            class=" badge rounded-pill bg-primary">{{artista.name}}</span>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>


</div>